@keyframes FadeIn {
    0% { 
        opacity: 0;
    }

    100% { 
        opacity: 1;
    }
}

@keyframes FadeOut {
    0% { 
        opacity: 1;
    }

    100% { 
        opacity: 0;
    }
}

.toast {
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 15px 50px 15px 25px;
    border-radius: 10px;
    animation: FadeIn 2s forwards;
    max-width: max(250px, 10vw);
    max-height: 250px;
}

.toast span {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.toast h3 {
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.toast.fade-out {
    animation: FadeOut 1s forwards;
}

.toast.toast-success {
    background-color: #66ff99;
}

.toast.toast-success h3,
.toast.toast.toast-success span {
    color: #004d1a;
}

.toast.toast-error {
    background-color: #ffd633;
}

.toast.toast-error h3,
.toast.toast.toast-error span {
    color: #4d3d00;
}

.toast.toast-danger {
    background-color: #ff4d4d;
}

.toast.toast-danger h3,
.toast.toast.toast-danger span {
    color: #4d0000;
}

.toast.toast-info {
    background-color: #4dc3ff;
}

.toast.toast-info h3,
.toast.toast.toast-info span {
    color: #004466;
}
